POSTGRES_DB=__REQUIRED_DATABASE_NAME__
POSTGRES_USER=__REQUIRED_DATABASE_USER__
POSTGRES_PASSWORD=__REQUIRED_SECRET__
DATABASE_URL=postgresql://__REQUIRED_DATABASE_USER__:__REQUIRED_SECRET__@postgres:5432/__REQUIRED_DATABASE_NAME__
SUPERADMIN_EMAIL=__REQUIRED_OPERATOR_EMAIL__
TLS_CERT_DIR=/__REQUIRED_TLS_DIRECTORY__
TLS_CERT_FILE=/certs/__REQUIRED_CERTIFICATE_FILE__
TLS_KEY_FILE=/certs/__REQUIRED_KEY_FILE__
